.select_trail {
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border: 2px solid gray;
    border-radius: 5px;
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    background-color: white;
    width: 500px;
    height: 300px;
}



.trail_title {
    font-weight: bold;
    margin: 5px;
    width: calc(100% - 20px); /*460px;*/
}

.trail_image_description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.trail_description {
    font-style: italic;
    margin: 5px 0px 5px 20px;
    width: calc(100% - 20px); /*445px;*/
}

.trail_header {
    margin: 10px;
}
